@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;1,100;1,800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
:root{
    --asidewidth : 220px;
}
html{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    width: 100%;
    background-color: #f1f1f1;
    overflow-x: hidden;
}
.content-container{
    padding: 0 5px;
}
#aside-menu-container{
    background-color: #009bd6;
    padding: 15px 0;
    width: fit-content;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    top: 0;
    float: left;
    left: 0;
    margin: 0 20px 0 0;
}
.aside-full-width{
    width: var(--asidewidth);
    max-width: var(--asidewidth);
    min-width: 150px;
}
.menu-icon{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-bottom: 30px;
    padding: 10px;
}
.hide{
    display: none;
}
.menu-icon .icon{
    width: fit-content;
    height: fit-content;
    padding: 0 3px 2px 3px;
    border-radius: 3px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.menu-icon svg{
    fill: #009bd6;
}
.menu{
    width: 100%;
}
.batch-bar{
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.batch-bar:hover{
    background-color: #00719c;
    cursor: pointer;
}
.batch-bar svg{
    fill: rgb(255, 255, 255);
    width: 20px;
    height: 20px;
    margin-top: 7px;
}
.batch-bar p{
    color: #fff;
}

section{
    padding: 0 20px 0 0;
    margin-bottom: 10px;
}
#batch-header{
    /* padding: 5px 0; */
    /* width: calc(100%); */
    min-width: 300px;
    position: sticky;
    left: calc(25% - 120px);
}

.batch-name-date{
    display: flex;
    align-items: center;
    border-top: thin #cccdce solid;
    border-bottom: thin #cccdce solid;
    padding: 8px 0;
    margin-bottom: 10px;
}
.batch-name-date h1{
    margin-right: 20px;
}
.batch-sale-detail{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 0 0 0;
    justify-content: space-around;
    /* margin-bottom: 10px; */
}
.batch-info{
    width: fit-content;
    min-width: 100px;
    padding: 5px 10px;
    background-color: #edf0f7;
    margin-bottom: 10px;
    border-radius: 10px;
}
.batch-info h5{
    color: #797878;
    font-weight: 400;
}
.batch-info p{
    font-size: 12px;
    color: #212222;
    font-weight: 800;
}
.entry-menu-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    padding: 10px 0 0 0;
    background-color: #fff;
}
.entry-menu-container .new-entry{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
}
.entry-menu-container .new-entry:hover{
    background-color: #e2f4fc;
}
.active{
    background-color: #e2f4fc;
}
.entry-menu-container .new-entry svg{
    width: 70px;
    height: 70px;
    fill: #009bd6;
    margin-bottom: 8px;
}
.entry-menu-container .new-entry p{
    font-size: 11px;
    margin-top: -15px;
}
.entry-menu-container .transactions svg{
    fill: #9900d6;
}
.entry-menu-container .filter svg{
    fill: #07d600;
}
.entry-menu-container .stats svg{
    fill: #d6002e;
}

.form-container{
    border-radius: 10px;
    padding: 10px 0 0 0;
    display: flex;
    flex-direction: column;
}
.form-card-container{
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.form-card{
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 100%;
    min-width: 250px;
}
.form-card span{
    color: #d6002e;
    font-size: 12px;
}
.form-card input{
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: thin #f1f1f1 solid;
}
.form-card input:focus{
    outline: none;
    border: none;
    border-bottom: thin#009bd6 solid;
}
.form-card select{
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: thin #f1f1f1 solid;
}
.form-card select:focus{
    outline: none;
    border: none;
    border-bottom: thin#009bd6 solid;
}
.form-header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.form-header svg{
    fill: #d63d00;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    margin-top: 7px;
}
.submit-btn{
    padding: 5px 10px;
    border: none;
    background-color: #009bd6;
    cursor: pointer;
    border-radius: 10px;
    color: #fff;
}

/* Batch List CSS */
.batch-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.batch-card{
    width: fit-content;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #fff;
   
    margin-bottom: 10px;
    margin-right: 10px;
    min-width: 200px;
}
.batch-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.batch-more-content span{
    font-size: 12px;
    color: #797878;
    margin-right: 5px;
}
.batch-content{
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 5px;
}
.batch-content:hover{
    background-color: #a9e7ff;
}

.update-batch{
    width: fit-content;
    height: fit-content;
}
.update-batch svg{
    fill: #009bd6;
    width: 20px;
    height: 20px;
}
.update-batch svg:hover{
    fill: #00719c;
}
.opened-account-svg{
    height: fit-content;
    width: fit-content;
    margin-right: 10px;
}
.closed-account-svg{
    height: fit-content;
    width: fit-content;
    margin-right: 10px;
}
.opened-account-svg svg{
    width: 25px;
    height: 25px;
    fill: #07d600;
    margin-top: 7px;
}
.closed-account-svg svg{
    width: 25px;
    height: 25px;
    fill: #d63200;
    margin-top: 7px;
}

.batch-card h4{
    margin-right: 10px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    /* border: 1px solid #ccc; */
    /* background-color: #f1f1f1; */
}
  
/* Style the buttons inside the tab */
.tab div {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab .new-entry:hover {
    background-color: #e2f4fc;
}

/* Create an active/current tablink class */
.tab .new-entry.active {
    background-color: #e2f4fc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    /* padding: 6px 12px; */
    /* border: 1px solid #ccc; */
    border-top: none;
}
#transaction-list .form-card{
    width: fit-content;
    height: fit-content;
}
.transaction-header{
    display: flex;
    align-items: center;
}
.transaction-header p{
    font-size: 12px;
}
.transaction-header svg{
    fill: #07d600;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.transaction-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: thin #f1f1f1 solid;
}
.transaction-content p{
    color: #a1a1a1;
    font-size: 12px;
}
a{
    text-decoration: none;
    color: inherit;
}
.transaction-content h3{
    color: #9900d6;
}

.transaction-content span{
    font-size: 11px;
    color: #9900d6;
}
.transaction-date *{
    font-size: 11px;
}

.transaction-date{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.stats-result-card{
    padding: 20px 20px 50px 20px;
    border-radius: 12px;
    background-color: #fff;
    width: fit-content;
    height: fit-content;
    margin-bottom: 10px;
    margin-right: 10px;
}
.stats-result-contain{
    display: flex;
    align-items: center;

}
.stats-submit-button:hover{
    background-color: #009bd6;
    color: #fff;
    cursor: pointer;
}
.semi-circle-container-green{
    width: 200px;
    height: 100px; /* as the half of the width */
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border: 4px solid #07d600;
    border-bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
}
.semi-circle-container-red{
    width: 200px;
    height: 100px; /* as the half of the width */
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border: 4px solid #d6002e;
    border-bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.semi-circle-container-blue{
    width: 200px;
    height: 100px; /* as the half of the width */
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border: 4px solid #009bd6;
    border-bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.semi-circle-content{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;

}
.stat-date{
    font-size: 12px;
    font-weight: 600;
    color: #d6002e;
    margin-bottom: 7px;
}
.stat-info{
    font-size: 11px;
    color: grey;
}
.stat-info-value{
    font-size: 14px;
}
.form-check-box{
    display: flex;
    align-items: center;
}

.form-check-box label{
    font-size: 12px;
    width: 100%;
}
table{
    border-collapse: collapse;
}
thead{
    position: sticky;
    position: -webkit-sticky;
}
thead svg{
    width: 30px;
    height: 30px;
    fill: #9900d6;
}
thead th{
    min-width: 50px;
    border-bottom: thin rgb(218, 216, 216) solid;
}
.our-customers-text{
    margin-bottom: 20px;
    color: rgb(95, 95, 95);
}
tbody td span{
    font-weight: 800;
    font-size: 12px;
}
tbody td{
    text-align: left;
    padding: 2px 10px;
    border-bottom: thin rgb(218, 216, 216) solid;
}
.serial-no{
    font-weight: 600;
}
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.showpassword-container{
    display: flex;
    align-items: center;
    justify-content: left;
    width: fit-content
}
.showpassword-container p{
    font-size: 12px;
    width: 190px;
}
.text-info{
    font-size: 12px;
    color: #009bd6;
}
.empty-display-container svg{
    width: 300px;
    height: 300px;
}
.landing-page-container iframe{
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.5);
}
.incognito-form{
    margin-top: 100px;
}
.sale-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sale-container .receipt-logo{
    display: flex;
    align-items: center;

}
.sale-card-receipt{
    background-color: #fff;
    width: fit-content;
    padding: 20px;
    margin-bottom: 20px;
}
.sale-container .receipt-logo span{
    padding: 10px;
    border-radius: 15px;
    color: #fff;
    background-color: black;
    margin-right: 8px;
    width: 40px;
    height: 40px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sale-container td{
    min-width: 100px;
    height: 30px;
    padding: 10px 20px 10px 0;
    border: #009bd6 solid;
}
.sale-container .receipt-logo p{
    font-weight: 900;
    font-size: 25px;
}
.sale-container .bold{
    font-weight: 900;
}
.create-a-shop svg{
    width: 100px;
    height: 100px;
    fill: #009bd6;
}
.logo img{
    width: 80px;
    height: 30px;
}
.shop-heading-container{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}
.customers-bar{
    background-color: #009bd6;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 10px;
    margin-right: 10px;
    width: fit-content;
    border-radius: 6px;
}
.customers-bar p{
    color: #fff;
    font-weight: 400;
    font-size: 12px;
}
.customers-bar:hover{
    background-color: #00719c;
}
.customers-bar svg{
    width: 15px;
    height: 15px;
    fill: #fff;
    margin-left: 5px;
}
@media (max-width:750px) {
    .form-card-container{
        flex-wrap: wrap;
    }
    .entry-menu-container .new-entry svg{
        width: 40px;
        height: 40px;
    }
    .batch-bar{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .batch-bar p{
        font-size: 11px;
    }
    .aside-full-width{
        width: 100vw;
        height: 50px;
        max-width: 100vw;
        min-width: 100vw;
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #aside-menu-container{
        height: 50px;
        top: auto;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    #aside-menu-container *{
        margin: 0;
        padding: 0;
    }
    .menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .menu-icon{
        display: none;
    }
    .content-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }
    .batch-container{
        padding-left: 20px;
    }
    .stats-result-contain{
        flex-wrap: wrap;
    }
}